@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Browser</title>
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
</head>
<body>
    <div id="elfinder"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/elfinder/js/elfinder.min.js"></script>

    <script type="text/javascript">

        $(function () {
            var myCommands = elFinder.prototype._options.commands;

            var disabled = ['extract', 'archive', 'resize', 'help', 'select']; // Not yet implemented commands in ElFinder.Net

            $.each(disabled, function (i, cmd) {
                (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
            });

            var options = {
                baseUrl: 'lib/elfinder/',
				url: '/el-finder/file-system/connector', // Default (Local File System)
				//url: '/el-finder/azure-storage/connector', // Microsoft Azure Connector
                rememberLastDir: false, // Prevent elFinder saving in the Browser LocalStorage the last visited directory
                commands: myCommands,
                //lang: 'pt_BR', // elFinder supports UI and messages localization. Check the folder Content\elfinder\js\i18n for all available languages. Be sure to include the corresponding .js file(s) in the JavaScript bundle.
                themes: {
                    'dark-slim': 'https://johnfort.github.io/elFinder.themes/dark-slim/manifest.json',
                    'mt-darkblue': 'https://robinn1.github.io/elFinder-Material-Theme/manifests/darkblue.json',
                    'mt-gray': 'https://robinn1.github.io/elFinder-Material-Theme/manifests/gray.json',
                    'mt-light': 'https://robinn1.github.io/elFinder-Material-Theme/manifests/light.json',
                    'bootstrap': 'https://nao-pon.github.io/elfinder-theme-manifests/bootstrap.json',
                    'moono': 'https://nao-pon.github.io/elfinder-theme-manifests/moono.json',
                    'win10': 'https://nao-pon.github.io/elfinder-theme-manifests/win10.json'
                },
                ui: ['toolbar', 'places', 'tree', 'path', 'stat'],
                getFileCallback: function (file, fm) {
                    window.parent.postMessage({
                        mceAction: {
                            file
                        }
                    }, '*');
                }
            };
            $('#elfinder').elfinder(options).elfinder('instance');
        });
    </script>

</body>
</html>